.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0.75em;
    font-size: 4vw;
    color: #FFFFFF;
}


