.container {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card {
    margin: 1em;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}
